   
     #textbox{
        font-size: xx-large;
    }
      h1,h2,h3,h4,h5,h6{
       color: #f01556;
       font-size: larger;
       }
   
       body {
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
           font-size: large;
    max-width: 800px;
    margin: 0 auto;
    padding: 3%;
}


a, a:focus, a:active {
     text-decoration: none;
     color: inherit;
}
a:hover{
   color: #F9D276;
}
